@use '../../styles/variaveis' as *;

.subtitulo {
    color: $cor-texto-escuro;
    font-family: $fonte-destaque;
    font-size: $fonte-titulo-artigo;
    font-weight: 700;
    line-height: 5rem;
    margin-bottom: 2rem;
}

.imagem {
    float: right;
    height: 598px;
    margin-left: 1.5rem;
    width: 589px;
}


.paragrafo {
    color: $cor-texto-escuro;
    font-size: $fonte-texto-artigo;
    line-height: 2.25rem;
    margin-bottom: 1.75rem;
    text-align: justify;

    &:last-child {
        margin-bottom: 0;
    }
}
