@use '../../styles/variaveis' as *;

.botao {
    background-color: $cor-botao;
    border-radius: 24px;
    color: $cor-texto-claro;
    font-size: $fonte-botao;
    padding: 0.75rem;
    width: 78px;
    
    &:hover {
        box-shadow: 0px 0px 0px 3px #041833;
    }
}

@media screen and (max-width: 1100px) {
    .botao {
        font-size: $fonte-botao + 0.1875rem;
        line-height: 1.125rem;
    }
}