@use '../../styles/variaveis' as *;

.botao {
    background-color: $cor-botao;
    border-radius: 24px;
    color: $cor-texto-claro;
    font-size: $fonte-botao;
    padding: 0.75rem;
    width: 78px;
}