$cor-botao: #1875E8;

$cor-fundo-padrao: #FFFFFF;
$cor-fundo-secundaria: #041833;

$cor-texto-claro: #FFFFFF;
$cor-texto-destaque: #041833;
$cor-texto-escuro: #444444;

$fonte-destaque: 'Playfair Display', serif;
$fonte-geral: 'Raleway', sans-serif;

// Tamanhos de fonte da navegação
$fonte-texto-navegacao: 1.25rem;

// Tamanhos de fonte do banner
$fonte-titulo-banner: 4rem;
$fonte-texto-banner: 1.5rem;

// Tamanhos de fonte dos botões
$fonte-botao: 1.125rem;
$fonte-botao-erro: 1.5rem;

// Tamanhos de fonte dos cards
$fonte-titulo-card: 1.25rem;

// Tamanhos de fonte do copyright
$fonte-texto-direito: 1rem;

// Tamanhos de fonte dos títulos das páginas
$fonte-titulo-pagina: 4rem;

// Tamanhos de fonte dos artigos
$fonte-titulo-artigo: 2.5rem;
$fonte-texto-artigo: 1.5rem;

// Tamanhos de fonte da página de erro
$fonte-titulo-erro: 6rem;
$fonte-subtitulo-erro: 3rem;
$fonte-texto-erro: 1.5rem;
