$cor-botao: #1875E8;

$cor-fundo-padrao: #FFFFFF;
$cor-fundo-secundaria: #041833;

$cor-texto-claro: #FFFFFF;
$cor-texto-destaque: #041833;
$cor-texto-escuro: #444444;

$fonte-destaque: 'Playfair Display', serif;
$fonte-geral: 'Raleway', sans-serif;