@use '../../styles/variaveis' as *;

.erro {
    background-color: $cor-fundo-secundaria;
    height: 548px;
    margin-bottom: 21.10rem;
    padding: 2.5rem $espacamento-lateral 0;
    text-align: center;

    .erro__codigo {
        color: $cor-texto-erro;
        font-family: $fonte-destaque;
        font-size: $fonte-codigo-erro;
        font-weight: 700;
        line-height: 5rem;
    }

    .erro__titulo {
        color: $cor-texto-claro;
        font-family: $fonte-destaque;
        font-size: $fonte-titulo-erro;
        font-weight: 700;
        line-height: 5rem;
        margin: 2rem 0;
    }

    .erro__texto {
        color: $cor-texto-claro;
        font-size: $fonte-texto-erro;
        line-height: normal;
        margin-bottom: 1.5rem;
    }

    .erro__container {
        align-items: flex-start;
        display: flex;
        gap: 7.25rem;
        justify-content: center;

        .erro__imagem {
            position: relative;
        }
    }
}

@media screen and (max-width: 1100px) {
    .erro {
        margin-bottom: 24.5rem;
        padding: 2.25rem $espacamento-lateral - 6rem 0;

        .erro__container {
            gap: 1.8rem;

            .erro__imagem {
                height: auto;
                width: 422px;
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 743px) {
    .erro {
        height: 753px;
        margin-bottom: 10rem;
        padding: 3rem $espacamento-lateral - 6.5rem 0;

        .erro__codigo {
            font-size: $fonte-codigo-erro - 2rem;
        }

        .erro__titulo {
            font-size: $fonte-titulo-erro - 0.75rem;
            line-height: normal;
        }

        .erro__texto {
            font-size: $fonte-texto-erro - 0.375rem;
            margin-bottom: 2.5rem;
        }

        .erro__container {
            align-items: center;
            flex-direction: column;
            gap: 2.85rem;

            .erro__imagem {
                width: 305px;
            }
        }
    }
}