@use '../../styles/variaveis' as *;

.artigo {
    position: relative;

    .artigo__capa {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 204px;
        opacity: 0.3;
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    .artigo__titulo {
        color: $cor-texto-escuro;
        font-family: $fonte-destaque;
        font-size: $fonte-titulo-pagina;
        font-weight: 700;
        line-height: 5rem;
        overflow: auto;
        padding: 3.875rem $espacamento-lateral;
        white-space: nowrap;
    }

    .artigo__conteudo {
        padding: 2.5rem $espacamento-lateral 5rem;
    }
}

@media screen and (max-width: 1100px) {

    .artigo {
        .artigo__titulo {
            font-size: $fonte-titulo-pagina - 0.5rem;
            padding-left: $espacamento-lateral - 6rem;
            padding-right: $espacamento-lateral - 6rem;
        }

        .artigo__conteudo {
            padding: 4.5rem $espacamento-lateral - 6rem 2.5rem;
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 743px) {
    
    .artigo {
        .artigo__capa {
            height: 104px;
        }

        .artigo__titulo {
            font-size: $fonte-titulo-pagina - 2.25rem;
            line-height: 3.875rem;
            padding: 1.3125rem $espacamento-lateral - 6.5rem;
        }

        .artigo__conteudo {
            padding: 2rem $espacamento-lateral - 6.5rem 2rem;
        }
    }
}