@use '../../styles/variaveis' as *;

.cabecalho {
    align-items: center;
    background-color: $cor-fundo-padrao;
    display: flex;
    height: 112px;
    justify-content: center;

    .cabecalho__navegacao {
        display: flex;
        gap: 3rem;
    }
}

@media screen and (max-width: 360px) {
    .cabecalho {
        height: 72px;
    }
}