@use '../../styles/variaveis' as *;

.cabecalho {
    align-items: center;
    background-color: $cor-fundo-padrao;
    display: flex;
    height: 112px;
    justify-content: center;

    .cabecalho__navegacao {
        display: flex;
        gap: 3rem;

        .cabecalho__link {
            color: $cor-texto-destaque;
            font-size: $fonte-texto-navegacao;
            line-height: normal;
        }
    }
}

@media screen and (max-width: 360px) {
    .cabecalho {
        height: 72px;
    }
}